{
  "extends": [
    "canonical",
    "canonical/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}
